<div class="container">
  <h2>{{title}}</h2>
  <h3>Courses</h3>
  <div class="row container">

    <div class="col-4">
      <ul>
        <li (click)="selectCourse(course._id)"
          class="list-group-item"
          [ngClass]="{'active': course._id === selectedCourseId}"
          *ngFor="let course of courses">
          <a routerLink='/table/courses/{{course._id}}/modules'>
            {{course.title}}
          </a>
          <a class="float-right"
            routerLink='/table/courses/{{course._id}}/quizzes'>
            Quizzes
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>